files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Making /storage writeable..."
      chmod -R 777 /var/app/current/storage

      if [ ! -f /var/app/current/storage/logs/laravel.log ]; then
          echo "Creating /storage/logs/laravel.log..."
          touch /var/app/current/storage/logs/laravel.log
          chown webapp:webapp /var/app/current/storage/logs/laravel.log
      fi

      if [ ! -d /var/app/current/public/storage ]; then
          echo "Creating /public/storage symlink..."
          ln -s /var/app/current/storage/app/public /var/app/current/public/storage
      fi

  "/opt/elasticbeanstalk/compilewebpack.sh": 
    owner: root 
    group: root 
    mode: "000755" 
    content: |
      #!/bin/bash -xe 
      sudo npm install --unsafe-perm node-sass@4.10.0
      sudo npm install ajv@^6.0.0
      sudo npm install

  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/my-app-logs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/laravel.log

  "/etc/httpd/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine on
      RewriteCond %{HTTP:X-Forwarded-Proto} ^http$
      RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=307,L]

  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 10M
      zlib.output_compression = On
container_commands:
  01_setupyumfornode:
    command: sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -
  02_get node:
    command: sudo yum -y install nodejs
  03_compilewebpack:
    command: "/opt/elasticbeanstalk/compilewebpack.sh"
  04_curl_node:
    command: sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -
  05_install_node_js:
    command: sudo yum -y install nodejs
  06_npm_install:
    command: |
      echo "npm install"
      sudo npm install
  07_minify_assets:
    command: |
      echo "Minifying Assets..."
      echo "scripts-prepend-node-path=true" >> ./npmrc
      sudo npm run production
packages:
  yum:
    php72-mbstring: []